section.general-dashboard {
  .head {
    text-align: center;
    padding: 0 0 10px 0;
    span {
      text-align: center;
      font-size: var(--typography-font-size-xl);
      font-weight: var(--typography-font-weight-bold);
    }
  }
}
