<nav class="side-bar">
  <ul>
    <li (click)="onGestore(null)"><span>{{ 'DASHBOARD_GENERALE_GESTORI' | translate }}</span></li>
    <li (click)="onGestore(2)"><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
  </ul>

  <ul>
    <li class="color-change"
      (click)="togggleTheme()">
      Change color
    </li>
    <li class="logout-wrap"
        (click)="logout()">
      <span>{{ 'ESCI' | translate}}</span>
      <div>
        <i>
          <img src="./assets/media/icon/exit.svg" alt="">
        </i>
      </div>
    </li>
  </ul>
</nav>
