<nav class="side-bar">
  <ul>
    <li (click)="onGestore(2)"><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
    <li><span>GESTORE</span></li>
  </ul>
</nav>
