<section class="dashboard-gestore">
  <div class="head card-t1">
    <div class="gestore-name">UNICREDIT</div>

    <div class="operations">
      <button class="btn-img new-gestore">
        <img src="./assets/media/icon/plus.svg" alt="">
      </button>
      <button class="btn-img settings-gestore">
        <img src="./assets/media/icon/gear.svg" alt="">
      </button>
    </div>
  </div>

  <!-- CENTER -->
  <div class="center">
    <!-- =-======================  card-t1 1 -->
   <div class="dt-wrap card-t1">

     <div class="state-import ">
       <h3>{{ "STATO_IMPORTAZIONE_GESTORE" | translate }}</h3>
     </div>

     <div class="dash ">
       <table>
         <tr>
           <th></th>
           <th>{{ 'DT_IMPORTATA' | translate }}</th>
           <th>{{ 'DT_IMPORT_PREVISTA' | translate }}</th>
         </tr>

         <tr>
           <td>MM</td>
           <td>22/32/3232</td>
           <td>22/32 - 22/32</td>
         </tr>
         <tr>
           <td>SS</td>
           <td>22/32/3232</td>
           <td>22/32 - 33/32</td>
         </tr>
       </table>
     </div>
   </div>

    <!-- ========================= card-t1 2 -->
    <div class="card-t1 ttttt">
      <h3>NEW CARD</h3>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="footer">
    <div class="card-t1 chart" style="height: 100px">
      <h3>NEW CARD</h3>
    </div>
    <div class="card-t1">
      <h3>NEW CARD</h3>
    </div>

  </div>
</section>
