<section class="dashboard-gestore">
  <ng-container *ngIf="gestore">
  <!--============================================================================================================================== header -->
    <div class="my-page-header head">
        <div class="gestore-name">{{ gestore?.dsGestore }}</div>
        <div class="operations">
          <button class="btn-img new-gestore">
            <img src="./assets/media/icon/upload.svg" alt="">
          </button>
          <button class="btn-img new-gestore"
            (click)="reloadData()">
            <img src="./assets/media/icon/reload.svg" alt="">
          </button>
          <button class="btn-img settings-gestore" (click)="onEdit()">
            <img src="./assets/media/icon/gear.svg" alt="">
          </button>
        </div>
    </div>


    <!-- ============================================================================================================================== CENTER -->
    <div class="center">
      <!-- =-===========================================  Info gestore -->
      <div class="card-t1 info-gestore-card">
        <h3>{{ "INFO_GESTORE" | translate}}</h3>

        <ul >
          <li class="email-wrap" [ngStyle]="{'grid-template-rows': gestore.emailGestore2? '1fr 1fr' : '1fr'}">
            <div>{{ 'EMAIL_DEL_GESTORE' | translate }}: </div>
            <div>{{gestore.emailGestore1}}</div>
            <div></div>
            <div>{{gestore.emailGestore2}}</div>
          </li>
          <!-- -->
          <li>
            <span>{{ "COMPRAVENDITA_DIVISA" | translate}}: </span>
            <span>{{ gestore.compravenditaDivisa && gestore.compravenditaDivisa == 1? ("SI" | translate) : ("NO" | translate)  }}</span>
          </li>
        </ul>
        <hr>
        <div class="note-gestore" *ngIf="gestore && gestore.noteGestore">
          <h4>{{'NOTE_GESTORE' | translate}}</h4>
          <div class="note" [innerHTML]="(gestore?.noteGestore ? (gestore.noteGestore | safeHtml) : '')"></div>
        </div>
      </div>

      <!-- =-===========================================  Stato importazione -->
      <div class="dt-wrap card-t1">
        <div class="state-import ">
          <h3>{{ "STATO_IMPORTAZIONE_GESTORE" | translate }}</h3>
        </div>
        <div class="dash ">
          <table>
            <tr>
              <th></th>
              <th>{{ 'DT_IMPORTATA' | translate }}</th>
              <th>{{ 'DT_IMPORTATA_DB' | translate }}</th>
              <th>{{ 'DT_IMPORT_PREVISTA' | translate }}</th>
              <th>{{ "OGGI" | translate}}</th>

            </tr>

            <tbody>

            <!-- MM -->
            <tr [ngClass]="isMMLimit">
              <td>{{ "MESE" | translate }}</td>
              <td>{{ gestore?.dtImportMM? (gestore?.dtImportMM| date:'dd / MM') : '-' }}</td>
              <td>{{gestore?.lastImportMM| date:'dd / MM'}}</td>
              <td>{{ gestore?.dtArrivoFlussiMmD1 }} - {{ gestore?.dtArrivoFlussiMmD2 }}</td>
              <td>{{ todayMM }}</td>
            </tr>

            <!-- SS -->
            <tr [ngClass]="isSSOver"  *ngIf="gestore?.dtImportSS">
              <td>{{ "SETTIMANA" | translate }}</td>
              <td>{{ gestore?.dtImportSS? (gestore?.dtImportSS| date:'dd / MM') : '-' }}</td>
              <td></td>
              <td>{{ gestore?.dtArrivoFlussiSs? (getDay(gestore?.dtArrivoFlussiSs ) | translate): '-' }}</td>
              <td>{{ (todaySS | translate | lowercase) }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- =-===========================================  Charts -->
      <div class="card-t1 chart-wrapper">
        <h3>{{ "GRAFICO_NUMERO_IMPORTAZIONI" | translate }}</h3>

        <div class="chart-wrap">
          <ng-container *ngIf="movimentiChart && movimentiChart.length > 0">
            <div echarts [options]="chartOpt"></div>
          </ng-container>
        </div>
      </div>

    </div>
  </ng-container>


  <!--<ngx-spinner name="spinnerLoadDatiGestore" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "false"
               template="<img class='spinner' src='./assets/media/icon/loading_spinner.svg' style='width: 50%;'>">
  </ngx-spinner>-->
  <app-spinner name="spinnerLoadDatiGestore"></app-spinner>
</section>
