.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .content {
    display: grid;
    grid-template-columns: var(--variable-sidebar-width) 1fr;
    grid-template-rows: 1fr;

    .header {
      border-bottom: 1px solid var(--color-header-border);
      padding: 1rem;
    }

    .main-content {
      padding: 1rem;
      overflow-y: auto;
    }
  }

}
