<!--
<a class="navbar navbar-dark bg-primary" href="/">
  <a class="navbar-brand">
    {{ 'TEST' | translate}} </a>
  <a>
    <button *ngIf="!loginDisplay" class="btn btn-secondary" (click)="login()">Sign In</button>
    <button *ngIf="loginDisplay" class="btn btn-secondary" (click)="logout()">Sign Out</button>
  </a>
</a>
-->

<section class="wrapper">

  <app-side-bar></app-side-bar>

  <section class="content">
    <div class="header">
      <app-header></app-header>
    </div>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </section>
</section>




