.import-gestori-wrap {
  position: relative;
  height: 100%;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .gestore-name {
      font-weight: var(--typography-font-weight-bold);
      font-size: var(--typography-font-size-xl);
    }

    .operations {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  .body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    .import-mm,
    .import-ss,
    .notes-wrap {
      display: flex;
      align-items: start;
      gap: 16px;
    }
    .form-control {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }

}
