<section class="import-gestori-wrap">
  <ng-container >
    <!--============================================================================================================================== header -->
    <div class="my-page-header head">
      <div class="gestore-name">{{this.movimentio?.dsGestore}}</div>
      <div class="operations">
        <button class="btn-img new-gestore" (click)="save()">
          <img src="./assets/media/icon/save.svg" alt="">
        </button>
        <!--<button class="btn-img new-gestore">
          <img src="./assets/media/icon/.svg" alt="">
        </button>-->
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="movimentio">
    <div class="body">
      <div class="import-mm">
        <div class="form-control date">
            <label for="importMM">{{'DATA_IMPORT_MENSILE' | translate}}</label>
            <!--<p-datepicker [(ngModel)]="movimentio.dtImportMM" [iconDisplay]="'input'" [showIcon]="true" inputId="importMM" placeholder="dd/mm/yyyy" id="importMM" dateFormat="dd/mm/yy" >
            </p-datepicker>-->
        </div>
        <div class="form-control check">
          <label for="checkSS">{{'IMPORTAZIONE_COMPLETATA' | translate}}</label>
         <!-- <input type="checkbox" name="checkMM" id="" [(ngModel)]="mmCheck">-->

          <!--<p-selectbutton [options]="stateOptions"
                          [(ngModel)]="movimentio.fgImportMM"
                          aria-labelledby="basic"></p-selectbutton>-->

        </div>
      </div>

      <div class="import-ss">
        <div class="form-control date">
          <label for="importSS">{{'DATA_IMPORT_SETTIMANALE' | translate}}</label>
          <!--<p-datepicker [(ngModel)]="movimentio.dtImportSS" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" placeholder="dd/mm/yyyy" id="importSS"  dateFormat="dd/mm/yy" [hourFormat]="'24'"></p-datepicker>-->
        </div>
        <div class="form-control check">
          <label for="checkSS">{{'IMPORTAZIONE_COMPLETATA' | translate}}</label>

          <!--<p-selectbutton [options]="stateOptions"
                          [(ngModel)]="movimentio.fgImportSS"
                          aria-labelledby="basic"></p-selectbutton>-->
        </div>
      </div>

      <div class="notes-wrap">
        <div class="form-control">
          <div class="title">{{"NOTE_GESTORE" | translate}}</div>
          <div class="editor">
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" >
            </ngx-editor-menu>
            <ngx-editor [editor]="editor" [(ngModel)]="note" name="noteFlusso">
            </ngx-editor>
          </div>
        </div>
      </div>
    </div>
  </ng-container>


  <app-spinner name="import-flussi-spinner" [fullScreen]="false"></app-spinner>
</section>
