// Palette di colori
$palette: (
  // Background neutrali
  white: #ffffff,
  black: #000,
  gray-50: #fefefe,
  gray-100: #fdfdfd,
  gray-200: #f2f2f2,   // da input utente
  gray-300: #eeeef4,   // da input utente
  gray-400: #dcdce4,
  gray-500: #bfc1c9,
  gray-600: #a0a2ab,
  gray-700: #7d7f87,
  gray-800: #4c4f55,
  gray-900: #2b2d31,

  // bag with opacity
  gray-800-op95: rgba(76, 79, 85, 0.95),
  gray-800-op8: rgba(76, 79, 85, 0.8),
  gray-800-op4: rgba(76, 79, 85, 0.4),
  gray-900-op4: rgba(43, 45, 49, 0.4),

);

$def-colors: (
  // gackagrrounds
  spinner-bg: map-get($palette, gray-800-op95),
  table-header-bg: map-get($palette, gray-200),

  // Testo e bordi
  text-color: map-get($palette, gray-900),
  muted-text: map-get($palette, gray-700),
  border-color: map-get($palette, gray-400),
  header-border: map-get($palette, gray-500),

  // Colori principali della dashboard
  primary: #3b82f6,
  success: #10b981,
  //warning: #f59e0b,
  //danger:  #ef4444,
  //warning: rgba(245, 158, 11, 0.50),
  //danger: rgba(239, 68, 68, 0.50),
  danger: #f8d7da,
  warning: #fff3cd,
  info:    #0ea5e9,
  white:   map-get($palette, white),
  black:   map-get($palette, black),

  // Background principali
  background: map-get($palette, white),
  background-alt: map-get($palette, gray-200),
  card-background: map-get($palette, gray-300),
  sidebar-bg: map-get($palette, gray-300),
  table-bg-odd: map-get($palette, gray-300),
  card1-bg: map-get($palette, white),

  // borders
  border-bottom-tb: map-get($palette, gray-300),
);

// Output automatico in :root come CSS custom properties
:root {
  @each $name, $value in $def-colors {
    --color-#{""+$name}: #{$value};
  }
}
