/*// Palette di colori
$light: (
  // Background neutrali
  white: #ffffff,
  gray-50: #fefefe,
  gray-100: #fdfdfd,
  gray-200: #f2f2f2,   // da input utente
  gray-300: #eeeef4,   // da input utente
  gray-400: #dcdce4,
  gray-500: #bfc1c9,
  gray-600: #a0a2ab,
  gray-700: #7d7f87,
  gray-800: #4c4f55,
  gray-900: #2b2d31,

  // bag with opacity
  gray-800-op95: rgba(76, 79, 85, 0.95),
  gray-800-op8: rgba(76, 79, 85, 0.8),
  gray-800-op4: rgba(76, 79, 85, 0.4),
  gray-900-op4: rgba(43, 45, 49, 0.4),

  // Testo e bordi
  text-color: #2b2d31,
  muted-text: #7d7f87,
  border-color: #dcdce4,

  // Colori principali della dashboard
  primary: #3b82f6,
  success: #10b981,
  warning: #f59e0b,
  danger:  #ef4444,
  info:    #0ea5e9,

  // Background principali
  background: #ffffff,
  background-alt: #f2f2f2,
  card-background: #eeeef4
);*/



$light-theme: (
  text: #09090b,
  background: #fafafa,
  background-r: #f5f4fb,
  primary: #462cd8,
  secondary: #8e7cf3,
  accent: #684dfe,

  hover: #fff,
  text-hover: #05040c,
  header-border: #bfc1c9,

  text-mute: #78787d,
  logo: #000
);
$dark-theme: (
  text: #e8e6f4,
  background: #05040c,
  background-r: #05040c,
  primary: #4127d3,
  secondary: #1e0c83,
  accent: #1b01b2,

  hover: #fff,
  text-hover: #05040c,
  header-border: #f2f2f2,

  text-mute: #78787d,
  logo: #fff
);

// 2. Mixin per generare le CSS variables
@mixin theme-vars($map) {
  @each $key, $value in $map {
    --color-#{$key}: #{$value};
  }
}

// 3. Applica le variabili ai temi
:root {
  @include theme-vars($light-theme);
}

[data-theme='dark'] {
  @include theme-vars($dark-theme);
}
