/*

===================== TABLE PRE FAB

*/
.table-wrap {
  display: flex;
  justify-content: center;
  width: 100%;

  table {
    border-collapse: collapse;
    width: var(--width-table-input, 100%);

    th,td {
      padding: 6px 8px;
    }

    thead {
      border-radius: 12px;
      background-color: var(--color-table-header-bg);

      tr {
        th {

          span {
            font-weight: var(--typography-font-weight-bold);
          }

          &:not(:last-child) {
            border-right: 1px solid var(--color-white);
          }

          &:first-child {
            border-top-left-radius: 12px;
            -moz-border-radius-topleft: 12px;
          }

          &:last-child {
            border-top-right-radius: 12px;
            -moz-border-radius-topright: 12px;
          }
        }

      }
    }

    tbody {
      tr {
        td {
          font-weight: var(--typography-font-weight-light);

          &:not(:first-child) {
            text-align: center;
          }

          &:first-child.w-max {
            width: var(--w-max-param, 150px);
          }
        }


        &:nth-child(even) {
          background-color: var(--color-table-bg-odd);
        }
      }
    }
  }
}


tbody {
  tr {
    &.danger-row {
      background-color: var(--color-danger);
      td {
        background-color: var(--color-danger);
      }
    }
    &.warning-row {
      background-color: var(--color-warning);
      td {
        background-color: var(--color-warning);
      }
    }
    &.no-data-row {
      height: 80px;
      background-color: var(--color-warning);
      td {
        background-color: var(--color-warning);
        span {
          font-weight: var(--typography-font-weight-bold);
          font-size: var(--typography-font-size-lg);
        }
      }
    }
  }
}

/*

===================== BUTTON PRE FAB

*/
button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.btn-img {
    transition: 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
    img {
      max-width: 32px;
    }
  }
}

/*

===================== TEXT PRE FAB

*/
h3 {
  font-size: var(--typography-font-size-lg);
  font-weight: var(--typography-font-weight-bold);
}



/*

===================== CARD PRE FAB

*/
.card-t1 {
  background-color: var(--color-bg-card1);
  box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: .15s ease-in;
}


/*

===================== FORM

*/
.form-control {
  padding: 0.7rem 0.5rem;

  &.text {
    display: flex;
    flex-direction: column;
  }
  &.select-days {
    display: flex;
    flex-direction: column;

    .title {
      padding: 12px 0;
      font-weight: var(--typography-font-weight-bold);
      text-align: center;
    }

    .days {
      display: grid;
      grid-template-columns: repeat(7, fit-content(150px));
      gap: 8px;
      justify-content: center;

      .day {
        border-radius: 100%;
        border: 0.5px solid #000;
        padding: 0.1rem;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover,
        &.active{
          background-color: var(--color-info);
          color: var(--color-white);
        }
      }
    }
  }

  label {
    font-size: var(--typography-font-size-sm);
    font-weight: var(--typography-font-weight-bold);
    margin-bottom: 6px;
  }

  input[type="text"] {
    min-width: 100px;
    width: var(--w-param, auto);
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 10px;
  }
}
