$variables: (
  sidebar-width: 200px,
  sidebar-height: calc(100vh - var(--variable-header-height)),
  sidebar-radius-link: 8px,
  header-height: 80px
);

:root {
  @each $name, $value in $variables {
    --variable-#{$name}: #{$value};
  }
}
